.DropZone {
    min-height: 30vh;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DropZone .Dropzone {
    min-height: 25vh;
    min-width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, cursive;
    font-size: calc(10px + 3vmin);
    color: #aaaaaa;
    background-color: #fafafa;
    border: 5px dashed #aaaaaa;
    border-radius: 75px;
    transition: 0.5s;
    cursor: pointer;
}

.DropZone .Dropzone:hover {
    color: #f50057;
    background-color: white;
    border: 5px dashed #f50057;
}

.DropZone .Dropzone input[type="file"] {
    position: absolute;
    top: 0;
    right: auto !important;
    bottom: 0;
    left: auto !important;
    opacity: 1e-05;
    pointer-events: none;
}
